body {
  background: url("imgs/background.jpg") no-repeat center fixed; 
  background-size: cover;
  font-family: 'Advent Pro', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.jumbotron {
  background: rgba(233,236,239,0.8);
}

.container {
  text-align: center;
}

img {
  max-width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.navimg {
  max-width: 100px;
}

#fix {
  text-align: center;
}
