body {
  background-image: url("imgs/background.jpg");
  background-repeat: no-repeat;
  background-attatchment: fixed;
  background-position: center;
  background-size: cover;
}

.jumbotron {
  background: rgba(233,236,239,0.8);
}
