body {
  background-image: url("imgs/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.jumbotron {
  background: rgba(233,236,239,0.8);
}

.container {
  text-align: center;
}

.submit-button {
  margin-top: 10px;
}
